li {
    list-style-type: none;
}

i {
    font-style: normal;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* -webkit-appearance: none; */
    -webkit-tap-highlight-color: transparent;
}

input,
textarea {
    outline: none;
}

textarea {
    border: none;
    resize: none;
}
a {
    text-decoration: none;
}